@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body,
.bg-standard {
  @apply bg-gray-50 dark:bg-gray-900;
}

/* Headings */

h1,
h2,
h3,
h4,
h5 {
  @apply font-bold tracking-tight mb-4 text-black dark:text-white;
}

h1 {
  @apply text-3xl mb-6;
}

h2 {
  @apply text-2xl;
}

h3 {
  @apply text-xl;
}

h4 {
  @apply text-lg;
}

h5 {
  @apply text-base;
}

@screen md {
  h1 {
    @apply text-5xl;
  }

  h2 {
    @apply text-3xl;
  }
}

/* Body Text */

p {
  @apply text-base mt-2 mb-8;
}

p,
li {
  @apply text-gray-600 dark:text-gray-400;
}

ul {
  @apply mb-4;
}

.scroll-lock {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.link {
  @apply underline hover:no-underline hover:text-gray-600 transition;
}
